<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inventory</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentFilter()">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="segment" swipe-gesture=true>
      <ion-segment-button value="products">
        Products
      </ion-segment-button>
      <ion-segment-button value="expired">
        Expired
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-list lines="full">
      <ion-item [routerLink]="'edit-product/' + product.id" *ngFor="let product of getList()">
        <ion-label>
          <h2 class="name">{{product.name}}</h2>
          <h3>{{product.locationStored.name}} &vert; {{product.category.name}}</h3>
          <p>{{product.notes}}</p>
          <h3 class="expiryDate" *ngIf="product.expiryDate">Expiring On: {{product.expiryDate | date}}</h3>
        </ion-label>
        <ion-badge color="tertiary">
          {{product.quantity}}
          {{getUnitName(product)}}
        </ion-badge>
      </ion-item>
    </ion-list>
  </ion-item-group>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" routerLink="add-product"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>