<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="item">{{item.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="item">
  <form [formGroup]="updateItemForm">
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="text-outline"></ion-icon>
        Name
      </ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <label>
        <h5>
          <ion-icon name="scale-outline"></ion-icon>
          Quantity
        </h5>
      </label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Amount</ion-label>
      <ion-input type="number" min="0" formControlName="quantity"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Unit</ion-label>
      <ion-select formControlName="unitId">
        <ion-select-option *ngFor="let unit of units" [value]="unit.id">
          {{ unit.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="folder-open-outline"></ion-icon>
        Category
      </ion-label>
      <ion-select formControlName="categoryId">
        <ion-select-option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="storefront-outline"></ion-icon>
        Store Name
      </ion-label>
      <ion-input formControlName="storeName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="pricetag-outline"></ion-icon>
        Price
      </ion-label>
      <ion-input type="number" min="0" formControlName="price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="create-outline"></ion-icon>
        Notes
      </ion-label>
      <ion-textarea formControlName="notes"></ion-textarea>
    </ion-item>
  </form>

  <ion-button (click)="onUpdate()" [disabled]="updateItemForm.invalid">
    Update
  </ion-button>
  <ion-button (click)="onDelete()" color="danger">
    Delete
  </ion-button>
</ion-content>