<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="product">{{product.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="product">
  <form [formGroup]="updateProductForm">
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="text-outline"></ion-icon>
        Name
      </ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <label>
        <h5>
          <ion-icon name="scale-outline"></ion-icon>
          Quantity
        </h5>
      </label>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Amount</ion-label>
      <ion-input type="number" min="0" formControlName="quantity"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Unit</ion-label>
      <ion-select formControlName="unitId">
        <ion-select-option *ngFor="let unit of units" [value]="unit.id">
          {{ unit.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="today-outline"></ion-icon>
        Purchase Date
      </ion-label>
      <ion-datetime [max]="maxYear" formControlName="purchaseDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="today-outline"></ion-icon>
        Expiry / Best Before Date
      </ion-label>
      <ion-datetime [max]="maxYear" formControlName="expiryDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="folder-open-outline"></ion-icon>
        Category
      </ion-label>
      <ion-select formControlName="categoryId">
        <ion-select-option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="location-outline"></ion-icon>
        Location Stored
      </ion-label>
      <ion-select formControlName="locationStoredId">
        <ion-select-option *ngFor="let location of locations" [value]="location.id">
          {{ location.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="create-outline"></ion-icon>
        Notes
      </ion-label>
      <ion-textarea formControlName="notes"></ion-textarea>
    </ion-item>
    <ion-item lines="none">
      <label>
        <h5>
          <ion-icon name="notifications-outline"></ion-icon>
          Notifications
        </h5>
      </label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Days before expiry</ion-label>
      <ion-input type="number" min="0" formControlName="daysBeforeNotify"></ion-input>
    </ion-item>
  </form>

  <ion-button (click)="onUpdate()" [disabled]="updateProductForm.invalid">
    Update
  </ion-button>
  <ion-button (click)="onDelete()" color="danger">
    Delete
  </ion-button>
</ion-content>

<ion-footer class="ion-no-border" *ngIf="product">
  <ion-grid class="ion-no-margin ion-no-padding">
    <ion-row>
      <ion-col>
        <ion-button (click)="onConsume()" color="success" class="ion-no-margin" expand="full">
          <ion-icon name="restaurant"></ion-icon>
          <ion-label>Consume</ion-label>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="onTrash()" color="danger" class="ion-no-margin" expand="full">
          <ion-icon name="trash"></ion-icon>
          <ion-label>Trash</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>