ion-segment-button {
    --indicator-color: transparent !important;
    --indicator-color-checked: transparent !important;
    --color: #fff;
    --color-checked: #fff;
}

#consume  {
    background-color: var(--ion-color-success);
}

#consume:hover {
    background-color: var(--ion-color-success-tint);
}

#trash {
    background-color: var(--ion-color-warning);
}

#trash:hover {
    background-color: var(--ion-color-warning-tint);
}
