<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addProductForm">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Quantity</ion-label>
      <ion-input type="number" min="0" formControlName="quantity"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Unit</ion-label>
      <ion-select formControlName="unit">
        <ion-select-option>
          test
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Purchase Date</ion-label>
      <ion-datetime [max]="maxYear" formControlName="purchaseDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Expiry / Best Before Date</ion-label>
      <ion-datetime [max]="maxYear" formControlName="expiryDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Category</ion-label>
      <ion-select formControlName="category">
        <ion-select-option>
          test
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Location Stored</ion-label>
      <ion-select formControlName="locationStored">
        <ion-select-option>
          test
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea formControlName="notes"></ion-textarea>
    </ion-item>
    <ion-item lines="none">
      <h5>Notifications</h5>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Days before expiry</ion-label>
      <ion-input type="number" min="0" formControlName="daysBeforeNotify"></ion-input>
    </ion-item>

    <ion-button (click)="onSubmit()" [disabled]="addProductForm.invalid">Add</ion-button>
  </form>
</ion-content>