<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Shopping List</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentFilter()">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="segment" swipe-gesture=true>
      <ion-segment-button value="To Buy" layout="icon-start">
        <ion-icon name="storefront"></ion-icon>
        <ion-label>To Buy</ion-label>
      </ion-segment-button>
      <ion-segment-button value="bought" layout="icon-start">
        <ion-icon name="bag-check"></ion-icon>
        <ion-label>Bought</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" routerLink="add-item"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>