<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>History</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentFilter()">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item [routerLink]="'view-product/' + product.id" *ngFor="let product of productsList">
      <ion-label>
        <h2>{{product.name}}</h2>
        <h3>
          <ion-icon name="location"></ion-icon>
          {{product.locationStored.name}}
        </h3>
        <h3>
          <ion-icon name="folder-open"></ion-icon>
          {{product.category.name}}
        </h3>
        <p>{{product.notes}}</p>
      </ion-label>
      <ion-badge color="success" *ngIf="product.quantityConsumed != 0">
        {{getConsumed(product)}}
      </ion-badge>
      <span class="badge-spacing"></span>
      <ion-badge color="danger" *ngIf="product.quantityTrashed != 0">
        {{getTrashed(product)}}
      </ion-badge>
    </ion-item>
  </ion-list>
</ion-content>